@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sacramento&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  max-width: 360px;
  margin: auto;
  background-color: #eef5ff;
  font-family: "Montserrat", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

.title svg {
  height: 100px;
}

.title h1 {
  margin-top: -70px;
  font-size: 24px;
}

.card-ulasan {
  width: 300px;
  margin: auto;
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.img-container {
  width: 150px;
  height: 150px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-container-bukti-transfer img {
  width: 400px;
}

.img-container-ulasan {
  width: 90px;
  height: 90px;
  background-color: #757575;
  border-radius: 7px;
  margin: auto;
}

.all-content .row .col {
  background-color: #86b6f6;
  color: white;
  font-weight: bold;
}

/* .all-content .content-row-2 .col {
  background-color: #86b6f6;
  color: white;
} */

.ditolak {
  width: max-content;
  border-radius: 5px;
  background-color: white;
  padding: 2px;
}

.diterima {
  width: max-content;
  border-radius: 5px;
  background-color: white;
  padding: 2px;
}

.text-14 {
  font-size: 14px;
}

.text-18 {
  font-size: 18px;
}

.blue-1 {
  color: #86b6f6;
}

.btn-primary {
  width: max-content;
  margin: auto;
  background-color: #86b6f6;
  border-color: #86b6f6;
}

.btn-kembali {
  padding: 3px 6px;
  border-radius: 5px;
  border: none;
  font-size: 12px;
}

.btn-tolak {
  padding: 3px 6px;
  border-radius: 5px;
  background-color: #ff0000;
  border: none;
  color: #ffffff;
  font-size: 12px;
}

.btn-setujui {
  padding: 3px 6px;
  border-radius: 5px;
  background-color: #008000;
  border: none;
  color: #ffffff;
  font-size: 12px;
}

.btn-lihat-notif {
  padding: 3px 10px;
  border-radius: 5px;
  border: none;
  font-size: 12px;
}
